{% extends 'le_posts/base.html' %}

{% block content0 %}
    <div class="photo-le"></div>
{% endblock %}

{% block content1 %}
        <br>
        <section class="heading">
            <h1>probably the next
                <br>Russian hacker.</h1>
        </section>

        <br>

        <section class="text">
            <p>I am a graphic designer who is trying to start an IT-career at the age of 37</p>
        </section>
        <br>

        <section class="text">
            <p>My skills:</p>
            <ul>
                <li id="list">– C and C++</li>
                <li id="list">– Linux and system administrating</li>
                <li id="list">– Python scripting</li>
                <li id="list">– html and css</li>
                <li id="list">– graphic design skills and great sense of typography :)</li>
            </ul>
        </section>
{% endblock %}

{% block content2 %}
        {% for post in posts %}
        <article class="article">
            <time class="time">published: {{ post.published_date }}</time><br>
            <h2 class="post_header"><a class="link" href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            <p class="post_text">{{ post.text|linebreaksbr }}</p> <br>
        </article>
        {% endfor %}
{% endblock %}