{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Lola Le</title>
    <meta charset="utf-8">
    <meta description="Löla Le, probably the next Russian hacker">
    <meta keywords="coding, python, django, html, css, web developement">
    <link rel="stylesheet" href="{% static 'css/le_posts.css' %}">
</head>


<body>
<div class="sitebody">
    <header class="header">
        <div class="name">Löla Le</div>
        <div class="photo-le"></div>
        <br>
        <!--<div class="menu">
            <a href="" target="_blank">About</a> | <a href="" target="_blank">Portfolio</a> | <a href="" target="_blank"> Contact</a>
        </div>
        <br> -->

    </header>

    <main class="main">
        <section class="heading">
            <h1>probably the next Russian hacker.
                <br>Welcome to my blog!</h1>
        </section>

        <br>

        <section class="text">
            <p>I am a graphic designer who is trying to start an IT-career at the age of 37</p>
        </section>
        <br>

        <section class="text">
            <p>My skills:</p>
            <ul>
                <li id="list">– C and C++</li>
                <li id="list">– Linux and system administrating</li>
                <li id="list">– Python scripting</li>
                <li id="list">– html and css</li>
                <li id="list">– graphic design skills and great sense of typography :)</li>
            </ul>
        </section>

    <br><br><br>
        <section class="heading">
            <h1>Blog</h1>
        </section>
        <br>
        <article class="article">
        {% for post in posts %}
            <time class="time">published: {{ post.published_date }}</time><br>
            <h2 class="post_header"><a class="link" href="">{{ post.title }}</a></h2>
            <p class="post_text">{{ post.text|linebreaksbr }}</p> <br>
        {% endfor %}
        </article>
    </main>
</div>
</body>
</html>

