@import url(resetcss.css);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

@font-face {
	src: url(Geometria.otf);
	font-family: geometria;
}

@font-face {
	src: url(Geometria-Bold.otf);
	font-family: geometria-bold;
}

body {
	background-color: #F7F7F7;
}

.sitebody {
	margin: 10px auto;
	width: 700px;
	box-sizing: border-box;
}

.header {
	
}

.name {
	height: 70px;
	font-family: geometria;
	font-size: 40pt;
	text-transform: uppercase;
	letter-spacing: 3pt;
}

.photo-le {
	height: 385px;
	background-image: url(photo-le.jpg);
	background-repeat: no-repeat;
	background-position: left;
}

.menu {
	font-family: geometria;
	font-size: 11pt;
	text-transform: uppercase;
	letter-spacing: 1pt;
}

.main {
	background-color: white;
	width: 700px;
	padding: 50px 50px;
	box-sizing: border-box;

}

.heading {
	font-family: geometria-bold;
	font-size: 25pt;
	text-transform: uppercase;
	letter-spacing: 1pt;
	font-weight: bold;
	line-height: 30pt;
}

.text {
	font-family: 'Open Sans', sans-serif;
	font-size: 14pt;
	line-height: 18pt;
}

#list {
	margin-bottom: 8pt;
}

.footer {
	width: 700px;
}

.logo {
	height: 160px;
	background-image: url(logo_2-lines.svg);
	background-size: 100px;
	background-repeat: no-repeat;
	background-position: center;
}



